<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://edirom.de/smufl-browser" abbrev="smufl-browser" version="@project.version@" spec="1.0">
    <title>@project.app@</title>
    <dependency package="http://exist-db.org/apps/shared"/>
</package>