<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="https://github.com/Edirom/SMuFL-Browser" abbrev="smufl-browser" version="@project.version@" spec="1.0">
    <title>@project.app@</title>
    <dependency processor="http://exist-db.org" semver-min="5.2.0"/>
    <dependency package="http://www.functx.com"/>
    <dependency package="http://exist-db.org/html-templating" semver-min="1.0.0"/>
</package>