/* Application styles could go here */
.charImage {
    max-width:100%;
    max-height:250px;
}

.charDesc {
    font-size:larger;
    padding: 0px 15px;
}

.pagination {
    padding: 0px 15px;
}

select {
    width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #4d4d4d;
  padding: 40px 20px;
}
