/* Application styles could go here */
.charImage {
    max-width:100%;
    max-height:250px;
}

.charDesc {
    font-size:larger;
}

footer {
    color: #666;
    background: #323232;
    display:block;
    border-top: 1px solid #000;
    padding: 50px 20px;
}