<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <!--<div class="row">
        <h1>About SMuFL-Browser</h1>
        <p>A web based viewer for the Standard Music Font Layout specification</p>
    </div>-->
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Application Information</h3>
                </div>
                
                <ul class="list-group">
                    <li class="list-group-item">SMuFL-Browser-Version: <span data-template="app:version" data-template-key="smufl-browser">0.9.0</span> <a href="https://github.com/Edirom/SMuFL-Browser" title="SMuFL-Browser Releases @ GitHub"><i class="fa fa-github"/></a></li>
                    <li class="list-group-item">SMuFL-Version: <span data-template="app:version" data-template-key="smufl">0.9.0</span> <a href="http://www.smufl.org/" title="SMuFL home"><i class="fa fa-home"/></a> <a href="https://github.com/w3c/smufl" title="SMuFL @ GitHub"><i class="fa fa-github"/></a></li>
                    <li class="list-group-item">Bravura-Version: <span data-template="app:version" data-template-key="bravura">0.9.0</span> <a href="http://www.smufl.org/fonts/" title="Bravura home"><i class="fa fa-home"/></a> <a href="https://github.com/steinbergmedia/bravura" title="Bravura @ GitHub"><i class="fa fa-github"/></a></li>
                    <li class="list-group-item">Author: Peter Stadler <a title="mail me at stadler at edirom dot de"><i class="fa fa-envelope-o"/></a> <a href="https://twitter.com/ps_tadler"><i class="fa fa-twitter"/></a> <a href="https://github.com/peterstadler"><i class="fa fa-github"/></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <div>
                <h1>About SMuFL-Browser</h1>
                <p>SMuFL-Browser is a small web service build upon the <i><a href="http://www.smufl.org" title="Standard Music Font Layout specification">Standard Music Font Layout specification</a></i> (SMuFL) and the <i><a href="http://www.tei-c.org" title="Text Encoding Initiative">Text Encoding Initiative</a></i> (TEI) which can – hopefully – serve multiple purposes.</p>
                <ol>
                    <li>As a browser and search interface for SMuFL glyphs</li>
                    <li>As a reference for the declaration of musical symbols in a TEI encoded text</li>
                </ol>
                <p>The first point was made more or less obsolete by the development of the browsing facility on the original SMuFL website. Still, this site offers some basic search and autocompletion features you might find useful.</p>
            </div>
            <div>
                <h3>SMuFL and TEI</h3>
                <p>If you want to use SMuFL for encoding musical symbols in your TEI documents, you could simply use the appropriate Unicode Codepoints from the SMuFL specification (i.e. entering <code>&amp;#xE262;</code> for a ♯ in the running text).
                    Since the very most of the SMuFL codepoints are from the Private Use Area, this is really an idiosyncratic solution and not the right approach for data interchange.
                </p>
                <p>The preferred approach would be to use the <code>&lt;g&gt;</code> element in the text and link to detailed character declarations in the TEI header (cf. chapter 5 of the TEI Guidelines: 
                    <a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/WD.html" title="Characters, Glyphs, and Writing Modes">Characters, Glyphs, and Writing Modes</a>). 
                    So, while you're probably not interested in that declaring stuff but simply want to add that muscial symbol to your text, this is where SMuFL-Browser comes in with providing those declarations for you.
                    It creates a nice <code>&lt;charDecl&gt;</code> with according <code>&lt;char&gt;</code> definitions from the SMuFL metadata (which comes in JSON format) and makes those available online.   
                    All you need to do, is find the right character with the SMuFL-Browser and copy the "TEI code for embedding" into your TEI text.
                </p>
            </div>
            <div>
                <h3>Webservice specification</h3>
                <p>SMuFL-Browser was developed with both the encoder as well as the developer in mind. 
                    For the developer, this web service provides the information concerning each character in several formats, at a stable URL, via both glyphname and codepoint (NB: the glyphnames are case sensitive while the codepoints are not):</p>
                <dl>
                    <dt>TEI-XML</dt>
                    <dd>The webservice will send TEI-XML when queried for the suffix <code>.tei</code> or <code>.xml</code>. 
                        Alternatively you can omit the file extension and provide the <i>Content-Type</i> request headers <code>application/xml</code> or <code>application/tei+xml</code>.
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">Examples</h4>
                            </div>
                            
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/note8thUp.xml" title="XML example URL">https://smufl-browser.edirom.de/note8thUp.xml</a></li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/E1D7.xml" title="XML example URL">https://smufl-browser.edirom.de/E1D7.xml</a></li>
                            </ul>
                        </div>
                    </dd>
                    <dt>JSON</dt>
                    <dd>The webservice will send a JSON serialization of the TEI data when queried for the suffix <code>.json</code> (NB: This is <i>not</i> the original SMuFL JSON metadata). 
                        Alternatively you can omit the file extension and provide the <i>Content-Type</i> request header <code>application/json</code>.
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">Examples</h4>
                            </div>
                            
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/note8thUp.json" title="JSON example URL">https://smufl-browser.edirom.de/note8thUp.json</a></li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/E1D7.json" title="JSON example URL">https://smufl-browser.edirom.de/E1D7.json</a></li>
                            </ul>
                        </div>
                    </dd>
                    <dt>JSONP</dt>
                    <dd>The webservice will send the above JSON serialization of the TEI data wrapped in a javascript function call when queried for the suffix <code>.js</code> or <code>.jsonp</code>. 
                        Alternatively you can omit the file extension and provide the <i>Content-Type</i> request header <code>application/javascript</code>. 
                        You can provide yor own wrapper function name with the <code>callback</code> URL parameter. Otherwise, the default is <code>callback=callback</code>.
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">Examples</h4>
                            </div>
                            
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/note8thUp.jsonp" title="JSONP example URL">https://smufl-browser.edirom.de/note8thUp.jsonp</a></li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/E1D7.js" title="JSONP example URL">https://smufl-browser.edirom.de/E1D7.js?callback=myFunctionName</a></li>
                            </ul>
                        </div>
                    </dd>
                    <dt>PNG</dt>
                    <dd>The webservice will send an image file of the glyph shape when queried for the suffix <code>.png</code>. 
                        Alternatively you can omit the file extension and provide the <i>Content-Type</i> request headers <code>image/png</code>, <code>application/png</code> or <code>application/x-png</code>.
                        The default resolution is 120x120 pixels; with the URL parameter <code>res=low</code> you'll get 40x40 pixels.
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">Examples</h4>
                            </div>
                            
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/note8thUp.png" title="PNG example URL">https://smufl-browser.edirom.de/note8thUp.png</a></li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/note8thUp.png?res=low" title="PNG example URL with small image size">https://smufl-browser.edirom.de/note8thUp.png?res=low</a></li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/E1D7.png" title="PNG example URL">https://smufl-browser.edirom.de/E1D7.png</a></li>
                            </ul>
                        </div>
                    </dd>
                    <dt>Multiple characters</dt>
                    <dd>If you want to receive a list of several character definitions, you can query <code>https://smufl-browser.edirom.de/index</code> with the suffixes <code>.tei</code> or <code>.xml</code> (or the respective request headers, see above). 
                        JSON and JSONP are <i>not</i> supported at present.
                        Following GET-parameters are supported:
                        <ul>
                            <li>range</li>
                            <li>class</li>
                            <li>glyphname</li>
                        </ul>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">Examples</h4>
                            </div>
                            
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/index.tei" title="complete charDecl">https://smufl-browser.edirom.de/index.tei</a> – this will give you the complete SMuFL specification as TEI file</li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/index.xml?range=Rests">https://smufl-browser.edirom.de/index.xml?range=Rests</a></li>
                                <li class="list-group-item"><a href="https://smufl-browser.edirom.de/index.tei?class=noteheadSetRoundLarge&amp;class=noteheadSetCircled" title="PNG example URL">https://smufl-browser.edirom.de/index.tei?class=noteheadSetRoundLarge&amp;class=noteheadSetCircled</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            <div>
                <h3>Source Code</h3>
                <p>The source code for creating the TEI character declarations from the SMuFL JSON metadata files as well as the source code for this web service is hosted on <a href="https://github.com/Edirom/SMuFL-Browser">GitHub <i class="fa fa-github"/></a>.</p>
            </div>
            <div>
                <h3>License</h3>
                <p>SMuFL-Browser is available under dual license: <a href="http://opensource.org/licenses/BSD-2-Clause">BSD 2-Clause</a> and <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License (CC BY 3.0)</a>.</p>
            </div>
            <div>
                <h3>Credits</h3>
                <p>First and foremost big thanks to Daniel Spreadbury for his great work on SMuFL and for making it publicly available under an open license.</p>
                <p>Second, SMuFL-Browser was inspired to a great deal by the <a href="http://www.manuscriptorium.com/apps/gbank/gbank_table.php" title="ENRICH Gaiji Bank">ENRICH Gaiji Bank</a> which builds upon the <a href="http://www.mufi.info/">Medieval Unicode Font Initiative (MUFI) standard</a>.</p>
                <p>Last not least thanks to Alexander Erhard for pull requests, testing and various feedback.</p>
            </div>
        </div>
    </div>
</div>