<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="row">
        <h1>SMuFL-Browser</h1>
        <p>A web based viewer for the Standard Music Font Layout specification</p>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="panel">
                <h2>SMuFL</h2>
                <p>The Standard Music Font Layout (SMuFL) is a specification that provides a standard way of mapping the thousands of musical symbols required by conventional music notation into the Private Use Area in Unicode’s Basic Multilingual Plane.</p>
                <p><a class="btn btn-primary btn-lg" role="button" href="http://www.smufl.org">Learn more</a></p>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="panel">
                <h2>TEI</h2>
                <p>The Text Encoding Initiative (TEI) is a consortium which collectively develops and maintains a standard for the representation of texts in digital form. </p>
                <p><a class="btn btn-primary btn-lg" role="button" href="http://www.tei-c.org">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div>
                <h2>About</h2>
                <p>Some more text …</p>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div>
                <h2>Inspiration</h2>
                <p>The SMuFL-Browser has been inspired by the ENRICH Gaiji Bank which builds upon the <a href="http://www.mufi.info/">Medieval Unicode Font Initiative (MUFI) standard</a>.</p>
                <p><a class="btn btn-primary btn-lg" role="button" href="http://www.manuscriptorium.com/apps/gbank/gbank_table.php">Learn more</a></p>
            </div>
        </div>
    </div>
</div>